<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Entrenador</title>
</head>
<body>
<h2>Actualizar Entrenador</h2>
<form th:action="@{/entrenadores/guardar}" th:object="${entrenador}" method="post">
    <input type="hidden" th:field="*{id}">

    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}" required>
    <br><br>

    <button type="submit">Actualizar</button>
    <a th:href="@{/entrenadores}">Cancelar</a>
</form>
</body>
</html>