<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entrenadores</title>
</head>
<body>
<h2>Entrenadores</h2>
<a href="/">Regresar</a> | <a th:href="@{/entrenadores/nuevo}">Agregar Entrenador</a>
<br><br>

<table border="1" cellpadding="8" style="border-collapse: collapse; text-align: left;">
    <tr style="background-color: #e0e0e0;">
        <th>id</th>
        <th>Nombre</th>
        <th>Acciones</th>
    </tr>
    <tr th:each="e : ${entrenadores}">
        <td th:text="${e.id}"></td>
        <td th:text="${e.nombre}"></td>
        <td>
            <a th:href="@{/entrenadores/editar/{id}(id=${e.id})}">Actualizar</a> |
            <a th:href="@{/entrenadores/eliminar/{id}(id=${e.id})}">Eliminar</a>
        </td>
    </tr>
</table>
</body>
</html>